spring:
  application:
    name: ProductApi
  datasource:
    url: jdbc:h2:mem:productDb
    driver-class-name: org.h2.Driver
    username: sa
    password: 1234
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console
  app:
    security:
      user:
        name: user
        password: user123
      admin:
        name: admin
        password: admin123



